{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Login</h1>
    <h4 class="text-center">Don't have an account? <a href="/register">Register here.</a></h4>
    <div class="text-center">
        {% for msg in get_flashed_messages() %}
            {{ msg }}
        {% endfor %}
    </div>
    <div class="container">
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div>
                    {{ field.label }}
                    {{ field(class_="form-control") }}

                    {% for error in field.errors %}
                        <p class="text text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        <button class="btn btn-primary pt-2" type="submit">Login</button>
        </form>
    </div>
{% endblock %}