{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Register for this Webpage</h1>
    <h4 class="text-center">Already Registered? <a href="/login">Login Here</a></h4>
        {% for msg in get_flashed_messages() %}
            {{ msg }}
        {% endfor %}
    <div class="container">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div>
                    {{ field.label }}
                    {{ field(class_="form-control") }}

                    {% for error in field.errors %}
                        <p class="text text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}